h1{
  color:green;
  font-family:Arial;
  font-size:20px;
}
body{
  margin:0;
  background-color:white-smoke;
}

img{
  padding:10 px;
  margin: 0 10% 0 10%;
}

p{
  font-size:15px;
  padding:5px;
  font-family: Hulvetica;
  text-transform:uppercase;
}

#mymenu{
  font-family:Arial;
  padding:2px;
}
.mymenu2{
  font-family:Arial;
  padding:2px;
}


  
